.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  font-size: 10px;
  font-family: sans-serif;
 }
 p {
  font-size: 1.6rem;
  line-height: 1.5;
 }
 label {
  font-size: 1.6rem;
  line-height: 1.5;
 }
 h1 {
  font-family: billabong, 'billabongregular';
  text-align: center;
  font-weight: 100;
  font-size: 13rem;
  margin: 2rem 0;
  letter-spacing: -1px;
  color: black;
  text-decoration: none;
 }
 h1 a {
  color: black;
  text-decoration: none;
 }
 h1 a:focus {
  outline: 0;
 }
 @font-face {
  font-family: 'billabongregular';
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
  font-weight: normal;
  font-style: normal;
 }
 .body {
  background: red;
 }
 .photoGrid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
 }
 figure {
  flex-basis: calc(33.333% - 4rem);
  border: 1px solid #d3d3d3;
  padding: 2rem;
  flex-grow: 1;
  margin: 0 2rem 2rem 2rem;
  max-width: 500px;
  align-self: center;
 }
 .figure {
  flex-basis: calc(33.333% - 4rem);
  border: 1px solid #d3d3d3;
  padding: 2rem;
  flex-grow: 1;
  margin: 0 2rem 2rem 2rem;
  max-width: 1000px;

 }
 .figure .single-photo {
  flex-basis: calc(33.333% - 4rem);
  flex-grow: 1;
  flex-shrink: 0;
  margin: -2rem 2rem 2rem 2rem;
  padding: 2rem;
  border: 1px solid #d3d3d3;
  background: #fff;
  position: relative;
  
 }
 .single-photo {
  flex-basis: calc(33.333% - 4rem);
  max-width: 150px;
  margin: 0 auto;
  display: flex;
  background: #fff;
  border: black;
 }
 .single-photo .figure {
  box-shadow: none;
  margin: 0 2rem 0 0;
  border: 0;
  padding: 0;
  flex: 1 0 60%;
  max-width: 60%;
 }
 .single-photo .comments {
  flex: 1 0 40%;
  max-width: 40%;
 }
 .single-photo .photo {
  width: 100%;
  margin: 0;
 }
 .photo {
  width: 100%;
  margin-left: -2rem;
  margin-right: 2rem;
  margin-top: -2rem;
  max-width: 100%;
 }
 .comment{
  width: 100%
 }
 .comment p {
  border-bottom: 1px solid #d3d3d3;
  padding: 0.5rem 0;
 }
 .comment-form input,
 .comment-form textarea {
  width: 100%;
  border: 0;
  font-size: 1.3rem;
  padding: 1rem 0;
  border-bottom: 1px solid #d3d3d3;
  outline: none;
  resize: vertical;
 }
 .addIcon {
  background: url("https://image.flaticon.com/icons/svg/60/60740.svg") center no-repeat;
  background-size: contain;
  padding: 40px;
  display: table;
  margin: 20px auto;
  border: none;
 }
 .button-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 button, .button {
  display: flex;
  align-content: center;
  align-items: center;
  align-self: center;
  border: 2px solid #f2f2f2;
  background: none;
  flex-basis: 48%;
  display: inline-block;
  line-height: 2;
  text-decoration: none;
  /* padding: 15px; */
  padding-top: 5px;
  PADDING-LEFT: 35px;
  padding-right: 35px;
  text-align: center;
  font-size: 17px;
  color: black;
  background-color: cadetblue;
  transition: all 0.2s;

  
 }
 .figcaption {
  font-size: 8px;
    margin-top: 5px;
    text-align: center;

}
figcaption h5{
font-size: 8px;}

 button:hover,.button:hover, button:focus, .button:focus {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    outline: 0;
    background-color: deepskyblue;
 }
 .speech-bubble {
  background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/51904-200.png") center no-repeat;
  background-size: contain;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border: none;
  position: relative;
 }
 .comment-count {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black
 }
 .form {
  width: 360px;
  padding: 0 0 0;
  margin: auto;
 }
  
 .form input {
  font-family: sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  }
 .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:#065784;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
  background: #7B8589;
 }
 .loader {
  height: 20%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 28pt;
 }
/* -------------------- Page Styles (not required) */
div { margin: 20px; }

/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}
div {
  margin:0px !important;
}
select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}
.styled-select {
  height: 20 + 'px !important' 
};